@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
  user-select: none;
}

@font-face {
  font-family: 'SF Sports Night';
  src: url('/fonts/SF Sports Night.ttf');
}

@font-face {
  font-family: 'SF Sports Night NS';
  src: url('/fonts/SF Sports Night NS.ttf');
}
