@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
}

@font-face {
  font-family: 'SF Sports Night';
  src: url('../public/fonts/SF Sports Night.ttf');
}

@font-face {
  font-family: 'SF Sports Night NS';
  src: url('../public/fonts/SF Sports Night NS.ttf');
}
